@import url("/css/book-base.css");
article{ 
	font-size: 1.4em;
	color: rgba(0, 0, 0); 
}

del { 
	/*text-decoration: underline  ; */
	text-decoration: unset  ; 
	font-style: normal; 
	font-size: 0.8em; 
	border: 2px black; 
	border-bottom-style: dashed; 
/*	background-color: rgba(0,0,0,0.05);  */
	color: rgba(0, 0, 0,0.6); 
}

/*重点语句：波浪线*/
strong {
  	text-decoration: underline wavy ;  
  	text-underline-offset: 0.2em; 
}
 