/*.book-guwen01{cssstart*/
/*  资治通鉴里字体默认1.4em 灰色。而加粗时：黑色加大 */
@import url("/css/book-base.css");

article p, div.cm-line:not(.HyperMD-header,.HyperMD-quote), div.el-p { 
    color: rgba(0, 0, 0, 0.5); 
    --italic-color: rgb(0, 0, 0, 0.5);
}

/*加粗的是黑体*/
strong em{ 
    color: rgb(0, 0, 0);

}
strong, .cm-strong { 
    color: rgb(0, 0, 0);
    font-size: 1.3em;
}

/*}cssend*/
