@import url("/css/book-base.css");
article{ 
	font-size: 1.7em;
	color: rgba(0, 0, 0); 
}
em:not(:has(strong)) { 
	/*text-decoration: underline  ; */
	text-decoration: unset  ; 
	font-style: normal; 
	font-size: 0.7em;
	color: rgba(0, 0, 0, 0.5);
}

:not(em) > strong {   
/*	font-size: 1.2em; */
	color: rgba(65,105,225,1); 
}